body {
  margin: 0;
}

.background {
  width: 100%;
  height: 100%;
}

$particleSize: 10vmin;
$animationDuration: 56s;
$amount: 25;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (#0284c7, #4f46e5, #2563eb, #1fd7e8, #73b8ea, #26a3c2);
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 80s;
      animation-delay: random(($animationDuration + 50s) * 10) / 10 * -5s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.9) * $particleSize * 0.9;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.atropos {
  position: relative;
  display: block;
  perspective: 1200px;
  transform: translate3d(0, 0, 0);
  &-rotate-touch,
  &-rotate-scroll-x,
  &-rotate-scroll-y {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
  }

  &-rotate-touch-scroll-y {
    touch-action: pan-y;
  }
  &-rotate-touch-scroll-x {
    touch-action: pan-x;
  }
  &-rotate-touch {
    touch-action: none;
  }
}
.atropos-scale,
.atropos-rotate {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: transform;
  display: block;
}
.atropos-shadow,
.atropos-highlight {
  position: absolute;
  pointer-events: none;
  transition-property: transform, opacity;
  display: block;
  opacity: 0;
}
.atropos-shadow {
  z-index: -1;
  background: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}
.atropos-highlight {
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 0.25),
    transparent 50%
  );
  z-index: 0;
}
.atropos-rotate {
  position: relative;
}
.atropos-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  display: block;
}
.atropos-active {
  z-index: 1;
  .atropos-shadow {
    opacity: 1 !important;
  }
}
[data-atropos-offset] {
  transition-property: transform;
}
[data-atropos-opacity] {
  transition-property: opacity;
}
[data-atropos-offset][data-atropos-opacity] {
  transition-property: transform, opacity;
}

.mobile-body {
  position: relative;
  flex-shrink: 0;
  width: 35.6rem;
  height: 72.2rem;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  box-shadow: none;
  transition: all 1s;

  .layer-1 {
    $offset: 0;
    position: absolute;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
    border: 0.4rem solid #484848;
    border-radius: 6rem;
  }
  .layer-2 {
    $offset: 0.3rem;
    position: absolute;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
    border: 1.6rem solid #000000;
    border-radius: 5.6rem;
  }

  .top-bar {
    width: 17.3rem;
    height: 2.8rem;
    background-color: #000000;
    position: absolute;
    top: 1.7rem;
    left: 9.1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
  .camera {
    position: absolute;
    bottom: 1.1rem;
    right: 4.5rem;
    right: 4.5rem;
    width: 1rem;
    height: 1rem;
    background-color: rgb(191, 236, 249);
    border-radius: 50%;
    border: 0.2rem solid #1e1f22;
  }
  .speaker {
    position: absolute;
    bottom: 1.3rem;
    right: 6.5rem;
    width: 4rem;
    height: 0.6rem;
    background-color: #696969;
    border-radius: 0.2rem;
  }
  .button {
    width: 0.3rem;
    height: 2.5rem;
    background-color: #484848;
    position: absolute;
    left: -0.2rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: 0.1rem solid rgba(black, 0.1);
    border-right: none;

    &.silent {
      top: 9.8rem;
    }
    &.volume-up {
      top: 15rem;
      height: 5rem;
    }
    &.volume-down {
      top: 21.6rem;
      height: 5rem;
    }
    &.power {
      top: 16.9rem;
      height: 5rem;
      right: -0.3rem;
      left: auto;
      transform: rotate(180deg);
    }
  }
}
